.product-card{
  &__block {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 233px) ;
    grid-column-gap: 15px;
    grid-row-gap: 65px;
    justify-items: center;
    align-content: center;
    margin-bottom: 50px;

  }

  &__container {
    width: 230px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px 2px 11px 0 rgba(183, 34, 34, 0.79);
  }

  &__image {
      height: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    }
  &__title{
      font-size: 16px;
      font-family: "Arial", sans-serif;
      color: rgb(133, 133, 133);
      font-weight: bold;
      line-height: 1.125;
      text-align: left;
      padding-left: 15px;
  }

  &__price {
      font-size: 18px;
      font-family: "Arial", sans-serif;
      color: rgb(204, 51, 51);
      font-weight: bold;
      line-height: 1;
      padding-left: 15px;
  }

  &__article{
      font-size: 13px;
      font-family: "Arial", sans-serif;
      color: rgb(0, 0, 0);
      font-weight: bold;
      line-height: 1.385;
      padding-left: 15px;
  }

  &__color{
    font-size: 13px;
    font-family: "Arial", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.385;
    padding-left: 15px;
  }

  &__button{
      font-size: 14px;
      font-family: "Arial", sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.8;
      margin-left: 80px;
      border: none;
  }

  &__favorites {
    margin-left: 20px;
  }
  &__favorites-true {
    color: coral;
    margin-left: 20px;
  }
  }
.container {
  display: grid;
 justify-content: center;
}
